html
    head
        title
    body
        h2= message

        table
            thead
                tr
                    th Name
                    th Age
            tbody

                tr
                    td=data.name
                    td=data.age